@addTagHelper *, BlazorCalculatorComponent
@using BlazorCalculatorComponent;
@page "/"

<h3 style="color:darkred">This is blazor Calculator</h3>


<h5>It is displaying previous actions, also you can use old result in new expessions by clicing on them.</h5>


<br />


<CompBlazorCalculator></CompBlazorCalculator>


